<!--
  Generated template for the AboutPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>{{nombre}}</ion-title>
  </ion-navbar>
</ion-header>

  <!-- <h1>{{data.date| date:"dd MMMM yyyy"}}</h1>
  <br>
  <h1>Cantidad es {{data.money | percent}}</h1>
  <button ion-button round (click)="goCustomer()">Pushea</button>

  <ion-item  *ngFor="let course of data.groups; let i= index">
          <ion-label [color]="(i%2)==0 ? 'primary' : 'danger'">{{course}}</ion-label>
    </ion-item> -->

<ion-content class="wrapper">
  <div
    class="wrapper-info">

    <card *ngFor="let item of students" 
    [student]="item"
    (click-card)="deleteCard($event)"></card>
  </div>
</ion-content>


