page-home {

    .wrapper{
        display: flex;
        flex-direction: column;

    }

    .wrapper-buttons{
        display: flex;
        flex-direction: column;
        flex-flow: column;        
    }
}
